.main-container {
    margin-top: 70px;
    padding-bottom: 50px;
}

.add-category {
    font-size: 18px;    
}

.subcontainer {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
}

.row {
    margin-top: 10px;
}

h3 {
    float: left;
}

.icons {
    width: 20px;
    max-height: 20px;
    float: right;
    margin-right: 30px;
    cursor: pointer;
}

.title-h3 {
    float: none;
}