{% extends 'base.html' %}

{% load static %}


{% block title %}

<title>Categories</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/categories.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/checkbox_script.js' %}"></script>

{% endblock %}


{% block content %}

<div class="container bg-light main-container">
    <h2 class="text-center">Categories</h2>
    <a href="{% url 'main_page:add_category' %}" class="btn btn-light btn-lg btn-hover add-category">Add Category</a>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        {% for c in categories %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading{{ c.id }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ c.id }}" aria-expanded="false" aria-controls="flush-collapse{{ c.id }}">
                {{ c.name }}
            </button>
          </h2>
          <div id="flush-collapse{{ c.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ c.id }}" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"> 
              <h3 class="text-center title-h3">Tasks</h3>
              {% for t in c.task_set.all %}
              {% if t.is_daily == False %}
                <div class="container-text-left subcontainer">
                    <div class="row list-items">
                        <div class="col-5 align-items-center justify-content-center"><h3>{{ t.name }}</h3></div>
                        {% if t.description %}
                        <div class="col align-items-center justify-content-center"><h3>{{ t.description }}</h3></div>
                        {% else %}
                        <div class="col align-items-center justify-content-center"><h3> </h3></div>
                        {% endif %}

                        <div class="col-1 d-flex align-items-center justify-content-center">
                        
                        <img src="media/images/edit_icon.png" class="icons" onclick='location.href="{{ t.get_absolute_url }}"'>
                        <input type="checkbox" {% if t.is_completed %}checked{% endif %} data-url="{{ t.get_completion_url }}" data-csrf="{{ csrf_token }}" class="task-checkbox">
                        
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}   

                <h3 class="text-center title-h3">Dailies</h3>
                {% for d in c.task_set.all %}
                {% if d.is_daily == True %}
                <div class="container-text-left subcontainer">
                    <div class="row list-items">
                        <div class="col-5 align-items-center justify-content-center"><h3>{{ d.name }}</h3></div>
                        {% if d.description %}
                        <div class="col align-items-center justify-content-center"><h3>{{ d.description }}</h3></div>
                        {% else %}
                        <div class="col align-items-center justify-content-center"><h3> </h3></div>
                        {% endif %}

                        <div class="col-1 d-flex align-items-center justify-content-center">
                        {% block icons %}
                        <img class="icons" src="media/images/edit_icon.png" onclick='location.href="{{ d.get_absolute_url }}"'>
                        <input type="checkbox" {% if d.is_completed %}checked{% endif %} data-url="{{ d.get_completion_url }}" data-csrf="{{ csrf_token }}" class="task-checkbox">
                        {% endblock %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                <h3 class="text-center title-h3">Habits</h3>
                {% for h in c.habit_set.all %}
                <div class="container-text-left subcontainer">
                    <div class="row list-items">
                        <div class="col-5 align-items-center justify-content-center"><h3>{{ h.name }}</h3></div>
                        {% if h.description %}
                        <div class="col align-items-center justify-content-center"><h3>{{ h.description }}</h3></div>
                        {% else %}
                        <div class="col align-items-center justify-content-center"><h3> </h3></div>
                        {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}