{% extends 'forms_base.html' %}

{% load static %}
{% load django_bootstrap5 %}


{% block title %} 

<title>Edit Profile</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/add-item-form-page.css' %}">

{% endblock %}


{% block content %}

<div class="container-m align-items-center">
<h1>EDIT PROFILE</h1>
  
  <form action="" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>

</div>

{% endblock %}