{% extends 'base.html' %}

{% load static %}


{% block title %} 

<title>Task Manager Project</title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/checkbox_script.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/main_pages.css' %}">

{% endblock %}


{% block content %}

<div class="container text-center main-container">
  <a class="btn position-absolute top-0 start-0 sidebar-anchor" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    <img src="media/images/sidebar_icon.png" class="sidebar-icon" alt="Sidebar">
  </a>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Navigation</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <ul class="list-group">
      <li class="list-group-item" aria-current="true">
        <a href="{% url 'main_page:logout' %}" class="btn btn-hover">Log Out</a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'main_page:queries' %}" class="btn btn-hover">Query Tools</a>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center align-items-center">
      <h1 id="lvl">LVL {{ user.lvl }}</h1>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <div class="d-flex justify-content-center align-items-center">
          <img src='media/images/coin_icon.png' class="navbar-icon">
          <h1 id="currency-amount">{{ user.currency_amount}} </h1>
      </div>
    </div>
    <div class="col">
      <img src="{{ user.profile_pic.url }}" class="pfp-icon" onclick="location.href=`{{user.get_absolute_url}}`">
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{% url 'main_page:reward' %}" class="navbar-links">Rewards</a>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <a href="{% url 'main_page:categories' %}" class="navbar-links">Categories</a>
    </div>
  </div>
</div>


{% block items_list %}

<div class="btn-group btn-light d-flex main-container" role="group" aria-label="Basic example">

{% block navbar %}
  {% if is_daily == False %}
    <button type="button" class="btn btn-secondary btn-light btn-hover btn-lg active" style="pointer-events: none;">Tasks</button>
    <button type="button" class="btn btn-secondary btn-light btn-hover btn-lg" onclick="location.href=`{% url 'main_page:habits' %}`">Habits</button>
    <button type="button" class="btn btn-secondary btn-light btn-hover btn-lg" onclick="location.href=`{% url 'main_page:dailies' %}`">Dailies</button>
  {% else %}
    <button type="button" class="btn btn-secondary btn-light btn-hover btn-lg" onclick="location.href=`{% url 'main_page:tasks' %}`">Tasks</button>
    <button type="button" class="btn btn-secondary btn-light btn-hover btn-lg" onclick="location.href=`{% url 'main_page:habits' %}`">Habits</button>
    <button type="button" class="btn btn-secondary btn-light btn-hover btn-lg active" style="pointer-events: none;">Dailies</button>
  {% endif %}

{% endblock %}

</div>


<div class="container-text-left content-container">
  <div class="row">
  {% if not is_daily %}
    <a href="{% url 'main_page:add_task' %}" class="btn btn-light btn-lg btn-hover">Add Task</a>       
  {% else %}
    <a href="{% url 'main_page:add_daily' %}" class="btn btn-light btn-lg btn-hover">Add Daily</a>       
  {% endif %}
  </div>

  {% for t in tasks %}

  <div class="row iter-rows">
    <div class="col-5 align-items-center justify-content-center"><h3 class="labels">{{ t.name }}</h3></div>
    {% if t.description %}
      <div class="col align-items-center justify-content-center"><h3 class="labels">{{ t.description }}</h3></div>
    {% else %}
      <div class="col align-items-center justify-content-center"><h3 class="labels"> </h3></div>
    {% endif %}

    <div class="col-1 d-flex align-items-center justify-content-center">
      {% block icons %}
      <img src="media/images/edit_icon.png" class="edit-icon" onclick='location.href="{{ t.get_absolute_url }}"'>
      <input type="checkbox" {% if t.is_completed %}checked{% endif %} data-url="{{ t.get_completion_url }}" data-csrf="{{ csrf_token }}" class="task-checkbox">
      {% endblock %}
    </div>

  </div>
  
  {% endfor %}

  <div class="row"> 
    {% block archive_link %}

    {% if is_daily == False %}
      <a href="{% url 'main_page:tasks_archive' %}" class="btn btn-lg btn-hover">Archive</a>
    {% else %}
      <a href="{% url 'main_page:dailies_archive' %}" class="btn btn-lg btn-hover">Archive</a>
    {% endif %}
    
    {% endblock %}
  </div>
</div>



{% endblock %}


{% endblock %}
