{% extends 'main_page/tasks.html' %}

{% load static %}


{% block title %} 

<title>Completed Tasks</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/main_pages.css' %}">

{% endblock %}


{% block navbar %}

<button type="button" class="btn btn-secondary btn-light btn-hover btn-lg" onclick="location.href=`{% url 'main_page:tasks' %}`">Tasks</button>
<button type="button" class="btn btn-secondary btn-light btn-hover btn-lg" onclick="location.href=`{% url 'main_page:habits' %}`">Habits</button>
<button type="button" class="btn btn-secondary btn-light btn-hover btn-lg" onclick="location.href=`{% url 'main_page:dailies' %}`">Dailies</button>

{% endblock %}


{% block icons %}

<img src="media/images/checkbox-checked.png" class="edit-icon">

{% endblock %}


{% block archive_link %}

{% if is_daily == False %}
    <a href="{% url 'main_page:tasks' %}" class="btn btn-lg btn-hover">Back To Uncompleted Tasks</a>
{% else %}
    <a href="{% url 'main_page:dailies' %}" class="btn btn-lg btn-hover">Back To Uncompleted Tasks</a>
{% endif %}

{% endblock %}

